<div class="workflow-container">
    <div class="header-container">
        <input placeholder="WORKFLOW NAME" type="text" class="edit-workflow-name"/>
      <div class="button-container">
      <button class="shuffle-btn">Shuffle</button>
      <button class="delete-btn">Delete</button>
      <button class="create-btn"><b>+</b> Add node</button>
      <button class="save-btn"><b>+</b> Save</button>
    </div>
    </div>
    <hr class="header-divider">
    <div class="card-container">
        <div class="card">
            <button class="status-icon status-icon-green">
                <img src="../../assets/images/checkmark_icon.svg" />
            </button>
            <input class="node-title" placeholder="Name" value = "Task 1"/>
            <textarea class="node-description"  rows="15" placeholder="Name" value = "Task 1"></textarea>
        </div>
        <div class="card">
            <button class="status-icon status-icon-blue">
                <img src="../../assets/images/checkmark_icon.svg" />
            </button>
            <input class="node-title" placeholder="Name" value = "Task 1"/>
            <textarea class="node-description"  rows="15" placeholder="Name" value = "Task 1"></textarea>
        </div>
        <div class="card">
            <button class="status-icon status-icon-grey">
                <img src="../../assets/images/checkmark_icon.svg" />
            </button>
            <input class="node-title" placeholder="Name" value = "Task 1"/>
            <textarea class="node-description"  rows="15" placeholder="Name" value = "Task 1"></textarea>
        </div>
       
    </div>
    </div>